# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\-\algorithm-data-structures-for-blog\Python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
